body{
    font-family: 'Coming Soon', cursive;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 940px;
    overflow: hidden;
    margin: 10px auto;
}
.nav-nav{
    display: flex;
}
.nav-nav:hover{
    color:rgba(46, 128, 182, 1);
}
.name{
    color: rgba(105, 185, 255, 1);
    font-size: 25px;
}
li{
    font-size: 15px;
    margin-right: 40px;
}
.example{
    position: relative;
}
.background{
    position: absolute;
    z-index: -1;
}
.present{
    margin-bottom: 77px;
}
h2{
    font-size: 59px;
    color:rgba(255, 255, 255, 1) ;
}
.sign-up{
    font-size: 16px;
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(105, 185, 255, 1);
    margin-right: 20px;
    padding: 11px 30px 13px;
    border: 1px solid rgba(105, 185, 255, 1);
}
.learn-more{
    font-size: 16px;
    color:rgba(255, 255, 255, 1) ;
    background-color:transparent;
    border: 1px solid white;
    padding: 10px 31px 12px;
}
.text{
    padding: 195px 255px 199px;
}
h2{
    margin-bottom: 106px;
}
.button{
    display: flex;
    text-align: center;
    justify-content: center;
}
.services{
    margin-bottom: 160px;
}
.about{
    margin-bottom: 80px;
}
.about-us{
    text-align: center;
    margin-bottom: 60px;
}
h3{
    font-size: 30px;
    margin-bottom: 17px;
}
p{
    font-size: 17px;
}
.images{
    display: flex;
    margin-bottom: 80px;
}
.block-design{
    /* height: 300px;
    width: 291px; */
    border: 1px solid rgba(103, 103, 112, 1);
    margin-right: 20px;
}
.grafic{
    text-align: center;
    margin-bottom: 14px;
    padding: 36px;
}
.title-mini{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
    color: rgba(106, 133, 156, 1);

}
.text-mini{
    text-align: center;
    font-size: 14px;
    color: rgba(106, 133, 156, 1);

}
.learn{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color:rgba(255, 255, 255, 1) ;
    background-color:transparent;
    border: 1px solid white;
    padding: 10px 31px 12px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.title-text{
    color:rgba(255, 255, 255, 1) ;
    margin: 70px auto 17px;
}
.text-title{
    color: rgba(255, 255, 255, 1) ;
    margin-bottom: 62px;
}
.grafic-style{
    text-align: center;
    margin-bottom: 20px;
}
.title-max{
    text-align: center;
    font-size: 20px;
    margin-bottom: 23px;
    color: rgba(255, 255, 255, 1) ;

}
.text-max{
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 1) ;
    margin-bottom: 17px;

}
.sea{
    margin-bottom: 17px;
}
.back-title{
    display: block;
    text-align: center;

}
h3{
    color: rgba(103, 103, 112, 1);
    font-size: 31px;
    margin-bottom: 14px;
}
p{
    color: rgba(103, 103, 112, 1);
    font-size: 13px;
    margin-bottom: 90px;
}
.block-footer{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.end{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    color:rgba(158, 158, 158, 1);
    background-color:black;
    height: 100px;
    
}
.end-text{
    display: block;
    text-align: center;
    align-items:center;
    margin: auto;
    padding: 40px auto 40px;
}
.tab-class{
    display: block;
    text-align: center;
}
.content{
    max-width: 940px;
    padding: 50px 0px;
    margin: 0px auto;
}
.tabs{
    margin: 0px 0px 50px 0px;
}
.tabs__items{
    display: flex;
}
.tabs__item{
    flex: 0 1 33.333%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-transform: uppercase;
    color: white;
    /* background-color:rgba(146, 160, 173, 1); */
    text-decoration: none;
}
.button__items{
    font-size: 16px;
    padding: 1px 30px;
    margin: 0px auto 10px;
    background-color:rgba(146, 160, 173, 1);
    border: 0px;
}
.button__items:hover{
    background-color:rgba(46, 128, 182, 1);
}

.tabs__block{
    position: relative;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}
.tabs__block:before{
    content: "";
    height: 20px;
    width: 33.333%;
    position: absolute;
    top: -50px;
}
/* .tabs__item span {
    position:relative; 
    z-index: 2;
}
.tabs__item:nth-child(1) {
    background-color:rgba(146, 160, 173, 1);
}
.tabs__item:nth-child(1)::before{
    background-color:rgba(46, 128, 182, 1);
    left: 0%;
}
.tabs__item:nth-child(2) {
    background-color:rgba(146, 160, 173, 1);
}
.tabs__item:nth-child(2)::before{
    background-color:rgba(46, 128, 182, 1);
    left: 33.333%;
}
.tabs__item:nth-child(3) {
    background-color:rgba(146, 160, 173, 1);
}
.tabs__item:nth-child(3)::before{
    background-color:rgba(46, 128, 182, 1);
    right: 0%;
} */
.tabs__block:target {
    display: block;
}
.block-footer{
    flex: 0 1 33.333%;
    display: flex;
    justify-content: center;
}
.block-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}
.block-center{
    width: 33%;

}
.block-right{

    width: 32%;
}
h5{
    color: rgba(103, 103, 112, 1);
    font-size: 18px;
    margin-bottom: 25px;
}
.block-left-text{
    color: rgba(103, 103, 112, 1);
    font-size: 13px;
}
.block-center-li{
    color: rgba(103, 103, 112, 1);
    font-size: 13px;
    margin-bottom: 5px;
}
.list-menu{
    display: flex;
    
}
.list-menu-images{
    margin-right: 10px;
}
.list-menu-items{
    text-decoration: none;
    color:rgba(103, 103, 112, 1);
    font-size: 13px;

}
